<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <filter>
  	<filter-name>LoginservletFilter</filter-name>
  	<display-name>LoginservletFilter</display-name>
  	<description></description>
  	<filter-class>com.sella.webapplication.filter.LoginservletFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>AdminLoginFilter</filter-name>
  	<display-name>AdminLoginFilter</display-name>
  	<description></description>
  	<filter-class>com.sella.webapplication.filter.AdminLoginFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>LoginservletFilter</filter-name>
  	<url-pattern>/DashBoardServlet</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>AdminLoginFilter</filter-name>
  	<url-pattern>/AdminLoginFilter</url-pattern>
  </filter-mapping>
  <!-- <servlet>
  	<servlet-name>LoginPage</servlet-name>
  	<display-name>LoginPage</display-name>
  	<description></description>
  	<servlet-class>com.sella.webapp.controller.LoginPage</servlet-class>
  </servlet> -->
  <servlet>
  	<servlet-name>SignUpServlet</servlet-name>
  	<display-name>SignUpServlet</display-name>
  	<description></description>
  	<servlet-class>com.sella.webapp.controller.SignUpServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DashBoardServlet</servlet-name>
  	<display-name>DashBoardServlet</display-name>
  	<description></description>
  	<servlet-class>com.sella.webapp.controller.DashBoardServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BillGenerate</servlet-name>
  	<display-name>BillGenerate</display-name>
  	<description></description>
  	<servlet-class>com.sella.webapp.controller.BillGenerate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AmountValidateServlet</servlet-name>
  	<display-name>AmountValidateServlet</display-name>
  	<description></description>
  	<servlet-class>com.sella.webapp.controller.AmountValidateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateQty</servlet-name>
  	<display-name>UpdateQty</display-name>
  	<description></description>
  	<servlet-class>com.sella.webapp.controller.UpdateQty</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Qty</servlet-name>
  	<display-name>Qty</display-name>
  	<description></description>
  	<servlet-class>com.sella.webapp.controller.Qty</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminViewSetvlet</servlet-name>
  	<display-name>AdminViewSetvlet</display-name>
  	<description></description>
  	<servlet-class>com.sella.webapp.controller.AdminViewSetvlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InsertServlet</servlet-name>
  	<display-name>InsertServlet</display-name>
  	<description></description>
  	<servlet-class>com.sella.webapp.controller.InsertServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminSignUpServlet</servlet-name>
  	<display-name>AdminSignUpServlet</display-name>
  	<description></description>
  	<servlet-class>com.sella.webapp.controller.AdminSignUpServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<display-name>AdminLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.sella.webapp.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminUpdate</servlet-name>
  	<display-name>AdminUpdate</display-name>
  	<description></description>
  	<servlet-class>com.sella.webapp.controller.AdminUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdUpdate</servlet-name>
  	<display-name>AdUpdate</display-name>
  	<description></description>
  	<servlet-class>com.sella.webapp.controller.AdUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminDelete</servlet-name>
  	<display-name>AdminDelete</display-name>
  	<description></description>
  	<servlet-class>com.sella.webapp.controller.AdminDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdDelete</servlet-name>
  	<display-name>AdDelete</display-name>
  	<description></description>
  	<servlet-class>com.sella.webapp.controller.AdDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Forgot</servlet-name>
  	<display-name>Forgot</display-name>
  	<description></description>
  	<servlet-class>com.sella.webapp.controller.Forgot</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotVerifyServlet</servlet-name>
  	<display-name>ForgotVerifyServlet</display-name>
  	<description></description>
  	<servlet-class>com.sella.webapp.controller.ForgotVerifyServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotServlet</servlet-name>
  	<display-name>ForgotServlet</display-name>
  	<description></description>
  	<servlet-class>com.sella.webapp.controller.ForgotServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ForgotValidateServlet</servlet-name>
  	<display-name>ForgotValidateServlet</display-name>
  	<description></description>
  	<servlet-class>com.sella.webapp.controller.ForgotValidateServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WishListServlet</servlet-name>
  	<display-name>WishListServlet</display-name>
  	<description></description>
  	<servlet-class>com.sella.webapp.controller.WishListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Myorders</servlet-name>
  	<display-name>Myorders</display-name>
  	<description></description>
  	<servlet-class>com.sella.webapp.controller.Myorders</servlet-class>
  </servlet>
 
  <!-- <servlet-mapping>
  	<servlet-name>LoginPage</servlet-name>
  	<url-pattern>/LoginPage</url-pattern>
  </servlet-mapping> -->
  <servlet-mapping>
  	<servlet-name>SignUpServlet</servlet-name>
  	<url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DashBoardServlet</servlet-name>
  	<url-pattern>/DashBoardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BillGenerate</servlet-name>
  	<url-pattern>/BillGenerate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AmountValidateServlet</servlet-name>
  	<url-pattern>/AmountValidateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateQty</servlet-name>
  	<url-pattern>/UpdateQty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Qty</servlet-name>
  	<url-pattern>/Qty</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminViewSetvlet</servlet-name>
  	<url-pattern>/AdminViewSetvlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InsertServlet</servlet-name>
  	<url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminSignUpServlet</servlet-name>
  	<url-pattern>/AdminSignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLoginServlet</servlet-name>
  	<url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminUpdate</servlet-name>
  	<url-pattern>/AdminUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdUpdate</servlet-name>
  	<url-pattern>/AdUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminDelete</servlet-name>
  	<url-pattern>/AdminDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdDelete</servlet-name>
  	<url-pattern>/AdDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Forgot</servlet-name>
  	<url-pattern>/Forgot</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotVerifyServlet</servlet-name>
  	<url-pattern>/ForgotVerifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotServlet</servlet-name>
  	<url-pattern>/ForgotServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotValidateServlet</servlet-name>
  	<url-pattern>/ForgotValidateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WishListServlet</servlet-name>
  	<url-pattern>/WishListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Myorders</servlet-name>
  	<url-pattern>/Myorders</url-pattern>
  </servlet-mapping>
  
</web-app>
